h1,h2  {  color:rgb(20,220,220);
font-size:36pt;
text-align:center;
text-transform:uppercase;
font-family:verdana;
background-color:red;
cursor:hand;
}

h3.abc
{
font-size:20pt;
text-align:right;
text-transform:lowercase;
text-decoration:overline;
color:blue;
cursor:wait;
}

h3.xyz
{
font-size:20pt;
text-align:right;
text-transform:lowercase;
text-decoration:underline;
color:red;
cursor:help;
}

.mypara
{
font-size:14pt;
text-transform:capitalize;
text-indent:100px;
letter-spacing:10px;
cursor:move;
}

#mytab
{
border-style :dotted;
border-bottom-style:groove;
border:10px solid green;
cursor:crosshair;
}

table
{
border-style:dotted;
background-color:green;
color:white;
}
